.sidebar{
    background-image: linear-gradient(90deg, rgb(57, 86, 117),rgba(57, 86, 117));
    position: fixed;
}
.sidebar li {
    margin-bottom: 2rem;
}
.sidebar svg{
    margin-right: 10px;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}