.info-cart{
    padding: 0 5px;
}
.info-info{
    background-color: rgb(183, 247, 199);
}
.info-dark{
    background-color: rgba(250, 101, 139, 0.712);
}
.info-icon{
    font-size:3em;
}
.info-container{
    height: 40vh;
    padding: 30px;
    color: black;
    border-radius: .25rem;
}