/* .service-container{
    height:800px;
    position:relative;
    background-image: url(../../../Image_Icon/Image/headerService2.jpg);
    background-size: cover;
    z-index: 1;
}
.service-container::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(12, 11, 27);
    opacity: .7;
    z-index: -1;
} */