.header-container {
    width: 100%;
    position:relative;
    /* opacity: 200% ; */
    background-image: url(https://cdn.pixabay.com/photo/2020/10/21/01/56/digital-5671888_960_720.png);
    /* background-image: linear-gradient( rgba(0, 255, 85, 0.733), rgba(0, 217, 255, 0.705)); */
    background-size: cover;
}
.header-container::before {
    height:700px;
    content:'';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    z-index: -50;
}
