.header-container {
    height:700px;
    position:relative;
    /* background-image: url(../../../images/chairBG.png); */
    background-image: linear-gradient(rgba(218, 245, 248, 0.767), rgba(215, 253, 205, 0.836));
    background-size: cover;
}
.header-container::before {
    height:700px;
    content:'';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    z-index: -50;
}
