.footer-area{
    background-image: linear-gradient(rgb(24, 26, 61), rgba(13, 14, 34, 0.986));
    background-size: cover;
}

.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #c71c4f;
    border-radius: 50%;
    border: 1px solid #067aff;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #0776f5 ;
    color:white;
}