.btn-brand{
  background-image: linear-gradient(75deg, #19D3AE,#0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  color: white !important;
}
.text-brand{
  color: #e2175b
}